@keyframes rotateBook {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(360deg);
    }
  }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #FFFFF;
}

.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
}

.book {
  width: 650px;
  height: 800px;
  position: relative;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 5px;
}

.page1 {
  transform: rotateY(0);
}

.page2 {
  transform: rotateY(180deg);
}

.bottomright-link {
  position: fixed;
  bottom: 10px; 
  right: 10px; 
  z-index: 1000; 
}

.custom-cursor {
  cursor: url('https://people.reed.edu/~emilyd/cocobhalf.png'), auto;}